In [1]:
import pandas as pd
from faker import Faker
import  random
import numpy as np
from pymongo import MongoClient
import pymongo
from functools import reduce

# Part 1 - Data Creation
## Data Creation Functions

In [2]:
tags = ['basic','python','oracle','db2','c++','vc++','c','js','ruby','julia','R','lisp','cobol']
colorlist= ["brown","blue","black","yellow","green","grey","violet","pink"]
fruitlist= ["apple","banana","orange","guava","pineapple","apricot"]

def combine(string):
    return ''.join(e for e in string.lower() if e.isalnum())

def getemail(name,company):
    return combine(name)+"@"+combine(company)+".com"

def getdata():
    fake = Faker(locale="en_US")
    dict1 = dict()
    dict1['isActive'] = fake.boolean()
    dict1['registered'] = fake.date_time()
    dict1['age'] = random.randint(20,50)
    dict1['gender'] = np.random.choice(["Male", "Female"], p=[0.5, 0.5])
    
    dict1['name'] = fake.name_male() if dict1['gender']=='Male' else fake.name_female()
    dict1['eyeColor'] = np.random.choice(colorlist)
    dict1['favoriteFruit'] = np.random.choice(fruitlist)

    company1 = dict()
    company1['title'] = fake.company()
    company1['email'] = getemail(dict1['name'],company1['title'])

    location1 = dict()
    location1['country'] = fake.country()
    location1['address'] = fake.street_address()

    company1['location'] = location1
    dict1['company'] = company1


    dict1['tags'] = [tags[random.randint(0,len(tags)-1)] for i in range(random.randint(1,5))]
    return dict1

### Example of Data produced by getdata function

In [3]:
getdata()

{'isActive': False,
 'registered': datetime.datetime(1991, 8, 12, 23, 26, 12),
 'age': 27,
 'gender': 'Female',
 'name': 'Carol Mooney',
 'eyeColor': 'violet',
 'favoriteFruit': 'apple',
 'company': {'title': 'Wilson Group',
  'email': 'carolmooney@wilsongroup.com',
  'location': {'country': 'Korea', 'address': '3926 Joe Mews'}},
 'tags': ['vc++', 'python', 'R', 'vc++']}

# Insert Data into TEST collection

In [4]:
# Create connection to MongoDB
myclient = MongoClient("mongodb://mongoadmin:secret@localhost:27017") 
db = myclient['org1']
collection = db['TEST']

# Insert the dictionary into Mongo
for i in range(1000):
    collection.insert_one(getdata())
myclient.close()

# Part 2 - Query Analysis

## Experiment 1

In [5]:
myclient = MongoClient("mongodb://mongoadmin:secret@localhost:27017") 
db = myclient['org1']
col = db['TEST']

df1 = pd.json_normalize(col.find({"age":"20"}).explain()['executionStats']).T
col.create_index([('age', pymongo.ASCENDING)])
df2 = pd.json_normalize(col.find({"age":"20"}).explain()['executionStats']).T

In [6]:
indlist=['executionStages.docsExamined','executionStages.stage','executionStats.totalKeysExamined',\
        'executionTimeMillis','executionStages.inputStage.indexName','executionStages.inputStage.stage',\
        'totalDocsExamined','totalKeysExamined']

pd.merge(df1,df2,left_index=True,right_index=True,how='outer')\
.rename(columns={'0_x':'before','0_y':'after'})\
.style.apply(lambda x: ['background: lightgreen' 
                                  if (x.name in indlist)
                                  else '' for i in x], axis=1)

In [7]:
col.drop_indexes() ## this drops all new indexes (except _id)
myclient.close()

# Experiment 2

## 2.1 Comparison between No Index, Partial Index and Full Index scans

In [8]:
myclient = MongoClient("mongodb://mongoadmin:secret@localhost:27017") 
db = myclient['org1']
col = db['TEST']


#db.command('aggregate','TEST',explain=True,pipeline=pipe)
pipe = [{"$match":{"$and":[{"age":{"$lte":20}},{"gender":{"$eq":"Male"}}]}}]

dfx1 = pd.json_normalize(db.command('explain', {'aggregate': 'TEST', 'pipeline': pipe, 'cursor': {}}\
                             , verbosity='executionStats')).T

col.create_index([('age', pymongo.ASCENDING)])

dfx2 = pd.json_normalize(db.command('explain', {'aggregate': 'TEST', 'pipeline': pipe, 'cursor': {}}\
                             , verbosity='executionStats')).T

col.drop_indexes() ### dropping previous index
col.create_index([('age', pymongo.ASCENDING),('gender',pymongo.ASCENDING)])

dfx3 = pd.json_normalize(db.command('explain', {'aggregate': 'TEST', 'pipeline': pipe, 'cursor': {}}\
                             , verbosity='executionStats')).T

In [9]:
data_frames = [dfx1,dfx2,dfx3]

df_merged = reduce(lambda  left,right: pd.merge(left,right,left_index=True, right_index=True,\
                                                         how='outer'), data_frames)

indlist= ['executionStats.executionStages.advanced','executionStats.executionStages.docsExamined',\
         'executionStats.executionStages.nReturned','executionStats.executionTimeMillis',\
         'executionStats.nReturned','executionStats.totalDocsExamined','executionStats.totalKeysExamined',
         'queryPlanner.winningPlan.stage']

df_merged.dropna().rename(columns={'0_x':'Try1','0_y':'Try2',0:'Try3'}).style.apply(lambda x: ['background: lightgreen' 
                                  if (x.name in indlist)
                                  else '' for i in x], axis=1)

## 2.2 Comparison between Partial Index and Full Index scan

In [10]:
data_frames = [dfx2,dfx3]

df_merged = reduce(lambda  left,right: pd.merge(left,right,left_index=True, right_index=True,\
                                                         how='outer'), data_frames)

pd.set_option('display.max_rows', 500)


indlist=['queryPlanner.winningPlan.inputStage.stage','executionStats.executionStages.inputStage.indexName',\
        'executionStats.executionStages.docsExamined','executionStats.executionTimeMillis',\
        'executionStats.nReturned','executionStats.totalDocsExamined','executionStats.totalKeysExamined',\
        'queryPlanner.winningPlan.inputStage.indexName']


df_merged.rename(columns={'0_x':'Try2','0_y':'Try3'}).style.apply(lambda x: ['background: lightgreen' 
                                  if (x.name in indlist)
                                  else '' for i in x], axis=1)
#

In [11]:
col.drop_indexes()  ## this drops all new indexes (except _id)
myclient.close()